<div class="container mt-5">
  <div class="card shadow-sm mx-auto" style="max-width: 600px;">
    <div class="card-header bg-white py-3">
      <h3 class="mb-0">{{ isEditMode ? 'Editar Produto' : 'Novo Produto' }}</h3>
    </div>
    
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <div class="mb-3">
          <label class="form-label">Nome do Produto *</label>
          <input type="text" class="form-control" formControlName="name" 
                 [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched">
          
          @if (form.get('name')?.hasError('required')) {
            <div class="invalid-feedback">Nome é obrigatório.</div>
          }
        </div>

        <div class="row mb-3">
        
        <div class="col-md-4">
          <label for="price" class="form-label">Preço (R$)*</label>
          <input type="number" id="price" class="form-control" formControlName="price" placeholder="0.00">
          <div *ngIf="form.get('price')?.invalid && form.get('price')?.touched" class="text-danger small">
            Preço inválido.
          </div>
        </div>

        <div class="col-md-4">
          <label for="stock" class="form-label">Estoque*</label>
          <input type="number" id="stock" class="form-control" formControlName="stock" placeholder="0">
          <div *ngIf="form.get('stock')?.invalid && form.get('stock')?.touched" class="text-danger small">
            Estoque não pode ser negativo.
          </div>
        </div>

        <div class="col-md-4">
          <label for="barcode" class="form-label">Cód. Barras*</label>
          <input type="text" id="barcode" class="form-control" formControlName="barcode" placeholder="EX: 123456">
          <div *ngIf="form.get('barcode')?.invalid && form.get('barcode')?.touched" class="text-danger small">
            Código obrigatório.
          </div>
        </div>

      </div>

        <div class="mb-4">
          <label class="form-label">Descrição</label>
          <textarea class="form-control" formControlName="description" rows="3"></textarea>
        </div>

        <div class="d-flex justify-content-between">
          <a routerLink="/admin" class="btn btn-outline-secondary">Cancelar</a>
          <button type="submit" class="btn btn-dark" [disabled]="form.invalid">
            {{ isEditMode ? 'Salvar Alterações' : 'Criar Produto' }}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>