<div class="container my-4">
  <div class="p-5 text-center bg-dark text-white rounded-3 shadow-sm">
    <h1 class="display-6 fw-bold text-white">Bem-vindo à Loja Virtual Minsait</h1>
    <div class="col-lg-8 mx-auto">
      <p class="fs-6 mb-4 text-white-50">
        Explore a nossa loja virtual e descubra uma ampla variedade de produtos de alta qualidade.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3 rounded-pill">
          <i class="bi bi-plus-circle-fill me-2"></i> Adicionar Produto
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 rounded-pill text-white">
          Saiba Mais
        </button>
      </div>
    </div>
  </div>
</div>