<div class="card h-100 bg-dark border-secondary border border-1" [ngClass]="{'opacity-50': product.stock === 0}">
  
  <div class="rounded-top position-relative text-center">
    <img [src]="product.image" class="card-img-top" [alt]="product.name" style="max-height: 300px; object-fit: cover;">
  </div>

  <div class="card-body text-white">
    <h5 class="card-title text-primary text-decoration-underline">{{ product.name }}</h5>
    
    <p class="card-text text-secondary small">{{ product.description }}</p>
    
    <button class="btn btn-primary w-50 mb-3 rounded-pill" [disabled]="product.stock === 0" (click)="addToCart()">
      <i class="bi bi-cart-plus-fill me-1"></i> Carrinho
    </button>

    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-transparent text-white border-secondary ps-0 py-1">
        <i class="bi bi-currency-bitcoin text-warning me-2"></i> 
        <strong>Preço:</strong> {{ product.price }}
      </li>
      <li class="list-group-item bg-transparent text-white border-secondary ps-0 py-1">
        <i class="bi bi-tag-fill text-warning me-2"></i> 
        <strong>Desconto:</strong> {{ product.discount }}
      </li>
      <li class="list-group-item bg-transparent text-white border-secondary ps-0 border-0 py-1">
        <i class="bi bi-circle-fill me-2" [ngClass]="(product.stock || 0) > 0 ? 'text-success' : 'text-danger'"></i>
        <strong>Estoque:</strong> {{ product.stock || 0 }} unidades
      </li>
    </ul>
  </div>
</div>